*{
  box-sizing: border-box;
  
  border-radius: 5px;
  
}
body{
  margin: 0;
}

.nav{
  background-color: #e4e4e498;
  color: rgba(0, 0, 0, 0.788);
  border-bottom: #bab9b9a4;
  border-style: solid;
  
  
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:  2rem;
  padding: 0 1rem ;
  font-family:Georgia, 'Times New Roman', Times, serif;

}
.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.site-title{
  font-size: 2rem;
  color: aqua;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.nav a:hover {
  border-bottom: 3px solid rgb(40, 17, 245);
}
